*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.move{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    transition: scale ease 0.3;
}
h1{
    font-size: 100px;
    color: #fff;
    mix-blend-mode: difference;
}
