* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 300px;
    position: absolute;
    border: 2px solid black;
    transition: all linear;
}