*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: black;
}
.img1{
    width: 400px;
    height: 500px;
    border: 2px solid #fff;

}
.img2{
    width: 400px;
    height: 500px;
    border: 2px solid #fff;
}
button{
   padding: 10px 20px;
   background-color: royalblue;
   color: #fff;
   border: none;
   font-size: 15px;
}
button:active{
    scale: 0.95;
}